body {
    font-family: 'Roboto Slab', serif;
    background-color: #FBF7FF;
    margin: 0;
}

header {
    font-size: 200%;
    padding: 2rem;
    text-align: center;
    background-color: #290058;
    color: #FBF7FF;
}

nav {
    overflow: hidden;
    border-top: 2px solid #FBF7FF;
    background-color: #290058;
}

nav a, footer a {
    float: left;
    padding: 1rem;
    color: #FBF7FF;
    display: block;
}

nav a:hover, footer a:hover {
    background-color: #D1A6FF;
}

footer {
    overflow: hidden;
    background-color: #290058;
}

.flex-container {
    display: flex;
    flex-flow: column-reverse; /* Set for mobile */
}

#side-box{
    order: 1;
    flex: 1 0 25%;
    padding: 1rem;
    background-color: #D2C2E1;
}

#self-pic{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    order: 2;
    flex: 1 0 75%;
    padding: 1rem;
}

#main-content a{
    color: #46305E;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .flex-container {
        flex-flow: row;
    }

    #self-pic{
        max-width: 75%;
    }

}