body {
    font-family: 'Roboto Slab', serif;
    background-color: #FBF7FF;
    margin: 0;
}

header {
    font-size: 200%;
    padding: 2rem;
    text-align: center;
    background-color: #290058;
    color: #FBF7FF;
}

nav {
    overflow: hidden;
    border-top: 2px solid #FBF7FF;
    background-color: #290058;
}

nav a, footer a {
    float: left;
    padding: 1rem;
    color: #FBF7FF;
    display: block;
}

nav a:hover, footer a:hover {
    background-color: #D1A6FF;
}

footer {
    overflow: hidden;
    background-color: #290058;
}

#ss-main-content{
    padding: 2rem;
}